// header footer使用(每個案子都用到的東西)
@import "../base/mixin";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

html,body{
    height: 100%;
    font-size: 14px;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

a{
    text-decoration: none;
}

body.menuShow{
    overflow:hidden;
}

img{
    display: block;
}

.corner{
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 5;
    .contact{
        display: none;
    }
    .sidebar-circle{
        background-color: #1f1f1f;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: relative;
        margin-top: 10px;
        box-shadow: 0px 0px 20px -7px #fff;
        transition:all .5s;
        
        &:hover{
            box-shadow: 0px 0px 30px -5px #fff;
        }
        &:before, &:after{
            display: none;
        }
        

    }
   svg{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        color:#fff;
        font-size: 25px;
        transform: translate(-50%,-50%);
    }

    
    .sidebar-content{
        display: none;
    }

    &.active{
        .sidebar-circle{
           
            // background-color: #704848;
            position: relative;
            &.main{
                &:before{
                    display: block;
                    content:'';
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%) rotate(45deg);
                    background-color:#ffffff;
                    width:30px;
                    height:5px;
                    border-radius:40px;
                }
                &:after {
                    display: block;
                    content:'';
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%) rotate(-45deg);
                    background-color:#ffffff;
                    width:30px;
                    height:5px;
                    border-radius:40px;
                  }
            }
            .talk{
                display: none;
            }
            .fa-phone, .fa-line, .fa-facebook-messenger{
                position: absolute;
                top: 50%;
                left: 50%;
                color:#fff;
                font-size: 25px;
                transform: translate(-50%,-50%);
            }
           
        }
        .contact{
            display: block;
        }
        li{
            position: relative;
            .sidebar-content{
                display: block;
                position: absolute;
                background-color: #1f1f1f;
                color:#fff;
                top: 50%;
                left: -10px;
                transform: translate(-100%,-50%);
                // transform: translateY(-50%);
                box-shadow: 0px 0px 10px -5px #fff;
                font-size: 13px;
                text-align: right;
                padding-right:7px ;
                padding: 5px 7px 5px;
                border-radius: 10px;
                
            }
            .tel{
                // width: 120px;
                width: 140px;
            }
            .line{
                // width: 130px;
                width: 140px;
            }
            .fb{
                // width: 145px;
                width: 160px;
            }
        }
        
        
    }
}

main{
    .breadcrumb{
        @include mediaquery(null,$sm){
            display: none;
        }
    }
    .wrapper{
        @include mediaquery(null,$sm){
            padding-top: 63px;
        }
    }
}


// main{
//     height: 1500px;
// }
// body{    
//   position: relative;
//   overflow-x: hidden;
//   scroll-behavior: smooth;
//   // visibility: hidden;
//   // opacity: 0;
//   font-family: $mfont;
//   letter-spacing: 0.05em;
//   color:$color3;
//   background: repeat url(../images/news_texture.png) #2d136b;
//   &.fade-in{
//       opacity: 1;
//       transition:opacity  2s ease ;
//       visibility: visible;
//   } 
// }

// /*----------------------通用設定------------------------*/
// //selection
// p,h1,h2,h3,h4,b,strong,span,li,div,a,img{
  
// }
// ::selection{
//   color:#fff;
//   background:$color1;
// }
// //a tag
// a{outline: none;}
// a,a:hover {
//   text-decoration: none;
//   transition: 0.6s;
// }
// *:focus {
//     outline: none;
// }
// img {
//     vertical-align: middle;
//     max-width: 100%;
// }

// //語系
// .lang_tw{
//   .en{    
//     display: none !important;
//   }
//   .jp{    
//     display: none !important;
//   }
// }
// .lang_en{
//   .tw{    
//     display: none !important;
//   }
//   .jp{    
//     display: none !important;
//   }
// }
// .lang_jp{
//   .tw{    
//     display: none !important;
//   }
//   .en{    
//     display: none !important;
//   }
// }

// #Wapper{
//   position: relative;
//   overflow: hidden;
//   background: no-repeat url(../images/building.png) center bottom / contain;
//   .light_on{
//     @include position(absolute,$left:0,$bottom:0%);
//     animation: lightOn 1.5s ease-in-out infinite alternate;
//   }
//   @include mediaquery(null,$md){
    
//   }
// }
// .row{
//   position: relative; 
//   @include mediaquery(null,$md){
//       padding-left:$pdr-mo;
//       padding-right: $pdr-mo;
//   }
//   @include mediaquery($md,null){        
//       margin:0 auto;
//       padding-left:$pdr-pc;
//       padding-right: $pdr-pc;
//       &:not(.col){
//           display: flex;
//           flex-wrap: wrap;
//       }
//   }
//   @include mediaquery($sm,$lg){
//     width: 85%;
//     margin-left: auto;
//     margin-right: auto;
//   }
//   @include mediaquery($lg,null){      
//       max-width: $maxConentW;  
//   }
// }
// .clearfix:after {
//   visibility: hidden;
//   display: block;
//   font-size: 0;
//   content: " ";
//   clear: both;
//   height: 0;
// }


// //內容框 col-11
// // .col-11{
// //   @include mediaquery($sm,null){
// //     max-width: 1170px;
// //     width:92%;
// //     margin:0 auto;
// //   }
// // }
// // .col-10{
// //   @include mediaquery($sm,null){
// //     max-width: 1000px;
// //     width:92%;
// //     margin:0 auto;
// //   }
// // }
// .imgPng{  
//   image-rendering: -moz-crisp-edges;  
//   image-rendering: -o-crisp-edges;     
//   image-rendering: -webkit-optimize-contrast; 
//   image-rendering: crisp-edges;
//   -ms-interpolation-mode: nearest-neighbor; 
// }

// /*----------------------共用樣式------------------------*/
// .text-center{text-align: center;}
// .text-right{text-align:right;}
// .text-justify{text-align: justify;}
// .mpsrel{position: relative;}
// .bgcover{
//   width:100%;
//   height:0;
//   background: center / cover;
// }

// /*-------------------背景圖片 桌手機分開-----------------*/
// @include mediaquery(null,$sm){
//   .bgcover[data-src-lg]{
//     content: attr(data-src-lg, url);
//   }
// }
// @include mediaquery($sm,null){
//   .bgcover[data-src-sm]{
//     content: attr(data-src-sm, url);
//   }
// }
// #topBtn{
//   opacity: 0;
//   visibility: hidden;
//   transition: none;
//   @include position(fixed,$bottom:0px);
//   width: 70px;
//   height: 24px;
//   &::before{
//     content: "";
//     width: 100%;
//     height: 100%;
//     background:no-repeat url(../images/gotop_hover.png) center top / contain;
//     @include position(absolute,$top:-150%,$left:0);
//     opacity: 0;
//     transition: opacity 0.6s;
//   }
//   //位置轉換
//   &.open{
//     opacity: 1;
//     visibility: visible;
//     z-index:99;
//   }
//   &.change{
//     position: absolute;
//   }
//   @include mediaquery(null,$sm){
//     right: 12px;
//     bottom: 12px;
//   }
//   @include mediaquery($sm,null){
//     right: 30px;
//     bottom: 40px;
//     &:hover{
//       &::before{
//         opacity: 1;
//       }
//     }
//   }
// }

// //按鈕
// .btn1{
//   position: relative;
//   display: inline-block;
//   text-align: center;
//   width: 290px;
//   height: 60px;
//   font-weight: 700;
//   line-height: 58px;
//   font-size: pxToRem(18);
//   &.red{    
//     color:white;
//     background-color: $color0;
//     svg{      
//       stroke:white;
//     }
//   }
//   &.wh{
//     color:$color0;
//     background-color: white;
//     svg{      
//       stroke:$color0;
//     }
//   }
//   .svg{
//     width: 60px;
//     transition:all 0.6s;
//     margin-left: 0.5em;
//     vertical-align: 2px;
//     transform: translateX(0em);
//   }
//   @include mediaquery(null,$sm){
//     min-width: 220px;
//     width: auto;
//     height: 52px;
//     line-height: 48px;
//     padding: 3px 25px 0;

//   }
//   @include mediaquery($md,null){
//     &:hover{      
//       background-color: $color2;
//       color:white;
//       .svg{
//         stroke:white;
//         transform: translateX(0.5em);
//       }
//     }
//   }
// }
// .back{
//   display: inline-block;
//   text-align: center;
//   width: 168px;
//   height: 50px;
//   line-height: 48px;
//   font-size: pxToRem(18);
//   font-weight: bold;
//   background-color: $color0;
//   color:white;
//   @include mediaquery(nul,$md){
//   }
//   @include mediaquery($md,null){
//     width: 172px;
//     &:hover{
//       background-color: $color2;
//     }
//   }
// }

// //顏色
// .fwh{
//   color:white;
// }
// .fdgray{
//   color:#454545;
// }
// .flgrah{
//   color:#999999;
// }
// //內文
// .txt-lh2{
//   line-height: 2;
// }
// //標題
// .titleA{
//   font-family: $fontfix;
//   @include font-size(pxToRem(30),pxToRem(48)); 
//   font-weight: 500;  
//   color: white;
//   position: relative;
//   text-align: center;
//   line-height: 1;
//   span{
//     position: relative;
//   }
//   span::before{
//     content:"";
//     width: 1.6em;
//     height: 1.6em;
//     @include position(absolute,$left:-1em,$top:-1em);
//     background: no-repeat url(../images/title_sparkle.png) center / contain;
//     animation: lightOn 0.5s ease-in-out infinite alternate;
//     opacity: 0;
//   }
// }
// .titleB{  
//   @include font-size(pxToRem(27),pxToRem(30)); 
//   font-weight: 700;
//   letter-spacing: 0.02em;
//   .line{
//     width: 2em;
//     height: 2px;
//     margin-top: 0.8em;
//     background-color: $color0;
//     display: inline-block;
//   }
// }

// //語系


// @keyframes lightOn {
//   from {opacity: 0;}
//   to {opacity: 1}
// }